body,html{
	height: 100%;
	margin:0;

}

#landing-page{
	height: 100%;
	background-image: url("/home/dev/Desktop/Portfolio/New-Port/cool-background.png");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}
.svgg{
	width: 50px;
	position: absolute;
    bottom: 5%;
 	left: 50%;
  	transform: translate(-50%, 0);

}
.btn{
	float: right;
	margin:3%;
	background-color: transparent;
	color: white;
	border-radius: 25px;
	font-weight: 700;
}
.btn:hover{
	color: black;
	background-color: transparent;
	font-weight: 400;

}
.info{
	margin-bottom: 10%;
	/*display: none;*/
}
.about{
	padding: 5% 15%;
}
#rew{
	width: 200px;
	height: 400px;
	background-image:url("/home/dev/Desktop/Portfolio/New-Port/152748010049704833.gif");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
#rgk{
	background-color:#eb4144
}
.box{
	padding: 0 %;
	border: 30px solid white;
}
.rewlogo{
	margin-top: 13%;
	display: block;
    margin-left: auto;
    margin-right: auto;
	width: 250px;
}
.ipad{
	padding: 0px;
	width: 300px;
	float: right;
}
.text{
	text-align:center;
	padding-top: 7%;
	color: white
}
/*@media (min-width: 768px) and (max-width: 991px) {
	.btn{
		left: 50%;
	}
}*/
