.card {
  width: 100%;
  min-height: 350px;
  height: auto;

  .content {
    font-family: "Open Sans";
    text-align: center;
    padding: 10px 5px;
    transition: all 500ms ease-in-out;
    transform: translate(0, 20px);
    h1 {
      font-size: 14px;
    }
    p {
      font-size: 10px;
      margin-bottom: 20px;
    }

    .image {
      width: 48px;
    }
    ul {
      text-align: left !important;
      line-height: 22px;
      list-style-type: none;
      font-size: 15px;
    }
  }
}
